<h2>Show order</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @order.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @order.body %>
  </li>

</ul>

<%= link "Edit", to: order_path(@conn, :edit, @order) %>
<%= link "Back", to: order_path(@conn, :index) %>
