<!DOCTYPE html>
<!--//
      <p class="alert alert-info" role="alert"><%=# get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%=# get_flash(@conn, :error) %></p>

      <main role="main">
        <%=# render @view_module, @view_template, assigns %>
      </main>
//-->
<html lang="en">
  <!--// <head></head> -->
  <%= render Flexphoenix.LayoutView, "header.html", assigns %>
<body class="">

    <div id="wrapper">

				<!--// The menu bar on the left -->
				<%= render Flexphoenix.LayoutView, "metis_menu.html", assigns %>

				<!--// The Main Page (Exclusing the entire left menu bar -->
        <div id="page-wrapper" class="gray-bg">

					<!--// The top bar with the menu minimize button , search bar and
					notifications and Logout -->
					<%= render Flexphoenix.LayoutView, "top_navbar.html", assigns %>

					<!--// The white breadcrumbs and action area bar-->
					<%= render Flexphoenix.LayoutView, "action_bar.html", assigns %>

					<!--// The actual content area -->
					<div class="wrapper wrapper-content">
							<!--// Flash notification messages -->
							<%
							info = get_flash(@conn, :info)
							error = get_flash(@conn, :error)
							%>

							<%= if info do %>
								<div class="alert alert-info" role="alert"><%= info %></div>
							<% end %>
							<%= if error do %>
								<div class="alert alert-danger" role="alert"><%= error %></div>
							<% end %>

							<!--// Template content -->
							<%= render @view_module, @view_template, assigns %>
					</div>

					<!--// Footer -->
					<%= render Flexphoenix.LayoutView, "footer.html", assigns %>
        </div>
			</div>

    <!-- Mainly scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
</body>

</html>

