<!doctype html>
<html lang="en">
 <%= render Flexcility.LayoutView, "header.html", assigns %>
<body>
	<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	<script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
	<div class="wrapper">

		<!--// The menu bar on the left -->
		<%= render Flexcility.LayoutView, "sidebar.html", assigns %>

		<!--// The Main Panel (Exclusing the entire left menu bar -->
    <div class="main-panel">

			<!--// The top bar with the menu minimize button , search bar and
			notifications and Logout -->
			<%= render Flexcility.LayoutView, "top_navbar.html", assigns %>

      <!--// Template content -->
      <div class="content">
        <div class="container-fluid">
          <%= render @view_module, @view_template, assigns %>
        </div> <!-- End col -->

        <!--// Footer -->
        <%= render Flexcility.LayoutView, "footer.html", assigns %>
      </div> <!-- End row -->
    </div>
	</div>
</body>


<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->

</html>
