<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Edit Project <small><%= @project.name %></small></h5>
        </div>
        <%= render "form.html", changeset: @changeset,
            action: project_path(@conn, :update, @project),
            conn: @conn %>
      </div>
    </div>
  </div>
</div>

<h2>Edit project</h2>
