<div class="wrapper wrapper-content animated fadeInRight">
  <%= render "form.html", changeset: @changeset,
                          action: organisation_path(@conn, :create),
                          organisation: %Flexcility.Organisation{} %>

  <%= link "Back", to: organisation_path(@conn, :index) %>
</div>
