<div class="content animated fadeInRight">
  <div class="container-fluid">
  <%= render "form.html", changeset: @changeset,
                          action: organisation_path(@conn, :create),
                          organisation: %Flexcility.Organisation{},
                          conn: @conn,
                          action_name: @action_name %>

  <%= link "Back", to: organisation_path(@conn, :index) %>

  </div>

</div>
