body{
    /*background-color: #525252;i*/
}
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.metismenu > li > a {
  background-color: #2f4050;
}

.profile-img-circle {
  width: 48px;
}

#message-list {
  border: 1px solid #777;
  height: 300px;
  padding: 10px;
  margin-right: 20px;
  overflow: scroll;
  margin-bottom: 50px;
}

#message {
  margin-bottom: 30px;
}

.error-tag .help-block{
  color: orange;
}

.created-on {
  font-weight: 200;
}
