:root {
  --black: #000000;
  --dark-blue: #145A32;
  --antique-white: #faebd7;
  --bright-green: #82E0AA;
}

body{
    /*background-color: #525252;i*/
}
/*.centered-form{
  margin-top: 60px;
}*/

/*.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}*/

.metismenu > li > a {
  background-color: #2f4050;
}

.profile-img-circle {
  width: 48px;
  /*height: 48p*/
}

.photo-thumbnail {
  height: 125px;
  width: 125px;
}

.photo-fullsize {
  width: 450px;
}

#message-list {
  /*
  border: 1px solid #777;
  height: 300px;
  padding: 10px;
  margin-right: 20px;
  overflow: scroll;
  margin-bottom: 50px;
  */
}

#message {
  margin-bottom: 30px;
}

.error-tag .help-block{
  color: orange;
}

.created-on {
  font-weight: 200;
}

.chat-message {
  padding: 5px !important;
}

.no-org-page {
  padding-top: 0px;
  margin-top: 40px !important;
}

.small-text {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-color: #2f4050;*/
  font-size: 85%;
  color: #676a6c;
  overflow-x: hidden;
}

.top-middle-box {
  max-width: 400px;
  z-index: 100;
  margin-left: 40px;
  margin-top: 0;
  padding-top: 40px;
}
.navbar-flex-container {
    background-color: #f4f3ef;
}

.flex-dropdown-menu > li > a:hover {
  color: #68B3C8 !important;
}
.flex-dropdown-menu > li > a:focus {
  color: #68B3C8 !important;
}

.antique-white {
  color: var(--antique-white) !important;
}

ul.nav.antique-white > li:active > a {
  color: var(--bright-green) !important;
}

ul.nav.antique-white > li:not(.active) > a {
  color: var(--antique-white) !important;
}


.organisation-sidebar, .organisation-sidebar.sidebar::after {
  background-color: var(--black);
}



.login-card {
  min-height: 450px;
}

.registration-card {
  min-height:350px;
}
/*.organisation-sidebar .nav a, .organisation-sidebar .nav i{
  color: var(--antique-white);
}*/
/*.nav li.active > a, .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a {
    color: #EB5E28
}*/
