<h2>Edit asset</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_asset_path(@conn, :update, @project, @asset) %>

<%= link "Back", to: project_asset_path(@conn, :index, @project) %>
