<h2>New asset</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_asset_path(@conn, :create, @project) %>

<%= link "Back", to: project_asset_path(@conn, :index, @project) %>
